.modal {
  z-index: 9999;
}

.backdrop {
  background-color: rgb(0 0 0 / 0.67);
  position: fixed;
  inset: 0;
}

.outerContent {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}

.innerContent {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  pointer-events: auto;
}

.close {
  position: absolute;
  top: -0.2rem;
  right: 0.2rem;
  z-index: 10;

  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}
