.title {
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  line-height: normal;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.subtitle {
  text-align: center;
  color: white;
  font-size: 1.1em;
  font-weight: normal;
  line-height: normal;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
  .subtitle {
    font-size: 1em;
  }
}
