:root {
  --cursor-default: url("./app/Assets/cursor/blowfish_1f421.png") 16 16, auto;
  --cursor-pointer: url("./app/Assets/cursor/squid_1f991.png") 16 16, pointer;

  --fallback-font:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --bulma-body-family: var(--fallback-font);
}

html {
  cursor: var(--cursor-default);
  padding-top: var(--bulma-navbar-height) !important;
}

a,
button,
.button {
  cursor: var(--cursor-pointer);
}

.card {
  cursor: var(--cursor-pointer);
}

.stream-card {
  position: relative;

  .delete {
    --bulma-delete-background-alpha: 1;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);

    &:hover,
    &:focus {
      --bulma-delete-background-alpha: 0.8;
    }
  }

  .live-marker {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px 0 0 0;
  }
}

.navbar.is-primary {
  --bulma-primary-l: var(--bulma-primary-15-l);
  --bulma-primary: var(--bulma-primary-15);
  --bulma-primary-invert-l: 100%;
  --bulma-navbar-dropdown-item-background-l: var(--bulma-primary-15-l);

  --bulma-navbar-box-shadow-color: rgb(0 0 0 / 0.17);
}

.footer.has-background-primary {
  --bulma-primary-l: var(--bulma-primary-15-l);
}

.cardcontainer {
  padding-top: 30px;
}

.navbar-item:active {
  /*background-color: var(--bulma-navbar-item-active-background-color);*/
  /*color: var(--bulma-navbar-item-active-color);*/
}

.navbar-item:hover {
  cursor: var(--cursor-squid);
  /*background-color: var(--bulma-navbar-item-hover-background-color);*/
  /*color: var(--bulma-navbar-item-hover-color);*/
}

.stream-info-title {
  /*font-family: roboto, sans-serif;*/
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stream-info {
  /*font-family: roboto, sans-serif;*/
  padding: 0px 0 10px 10px;
}

.hero-background {
  background-image: url("./app/assets/placeholder-images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*border-radius: 12px;*/
}

.category-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
