:root {
  --primary-color: hsl(171deg 47.56% 19.57%);

  --border-radius: 8px;
}

html {
  color: antiquewhite;
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

article,
footer,
header,
section {
  display: block;
}

body,
button,
input,
select {
  font-family: sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: sans-serif;
}

body {
  color: black;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tabs {
  --bulma-tabs-link-hover-color: #ff00aa;
}

.tabs.is-boxed a:hover {
  --bulma-tabs-boxed-link-hover-background-color: #ff00aa;
  --bulma-tabs-boxed-link-hover-border-bottom-color: #ff202a;
}

.hero .tabs ul {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
